[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/fff"]
	path = external/fff
	url = https://github.com/meekrosoft/fff.git
